@using VkazoMaterial.Resources
@model VkazoMaterial.Models.UserHasMaterial

@{
    ViewBag.Title = "Material dem Benutzer entfernen";
}

<h2>@ViewBag.Title</h2>

<h3>@AppResource.ConfirmDelete</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@AppResource.Delete" class="btn btn-default" /> |
            @Html.ActionLink(AppResource.BackToList, "Index")
        </div>
    }
</div>
