@using VkazoMaterial.Resources
@model IEnumerable<VkazoMaterial.Models.UserHasMaterial>

@{
    ViewBag.Title = "Materialverwaltung";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(AppResource.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Contraction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material.Size.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiveDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Contraction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material.Size.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiveDate)
        </td>
        <td>
            @Html.ActionLink(AppResource.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(AppResource.Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(AppResource.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
