@using VkazoMaterial.Resources
@model VkazoMaterial.Models.User

@{
    ViewBag.Title = "Benutzer löschen";
}

<h2>@ViewBag.Title</h2>

<h3>@AppResource.ConfirmDelete</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contraction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank.RankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank.RankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAuthorized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAuthorized)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@AppResource.Delete" class="btn btn-default" /> |
            @Html.ActionLink(AppResource.BackToList, "Index")
        </div>
    }
</div>
