@using VkazoMaterial.Resources
@model IEnumerable<VkazoMaterial.Models.User>

@{
    ViewBag.Title = "Benutzer";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(AppResource.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contraction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rank.RankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAuthorized)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contraction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rank.RankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAuthorized)
        </td>
        <td>
            @Html.ActionLink(AppResource.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(AppResource.Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(AppResource.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
