@model IEnumerable<VkazoMaterial.Models.Rank>
@using VkazoMaterial.Resources

@{
    ViewBag.Title = "Ränge";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Neuer Rang", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Rang
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RankName)
        </td>
        <td>
            @Html.ActionLink(AppResource.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(AppResource.Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(AppResource.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
